/*********rest.css start*********/
* {appearance:normal;-webkit-appearance: none;-moz-appearance: none;margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;outline: none;font-size-adjust: none;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-font-smoothing: antialiased; max-height:10000px;}
*:focus {outline: none;}
*,*:after,*:before {-webkit-box-sizing: border-box;	-moz-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0;}
html,body{height:100%}
body {margin: 0;padding: 0;overflow-x:hidden;color:#333;font-size:12px;line-height:20px;height:100%; min-width:320px;}
html.zh body,html.zh_cn body{font-family:'黑体',Helvetica,Arial,sans-serif;}
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:auto!important}
@-o-viewport{width:device-width}
@viewport{width:device-width}
a:hover{text-decoration:none;}
::selection {background-color:#CCC;color: #000;}
div, a, p, img, blockquote, form, fieldset, textarea, input, label, iframe, code, pre {display: block;position:relative;}
p {line-height: 160%;letter-spacing:0px;text-align:justify;text-justify:inter-ideograph;} 
p > a {display: inline;}
p > span {display: inline;}
span > a {display: inline;}
a > span {display: inline;}
li > a{display: inline;}
a {text-decoration: none; color:#333;}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {display: inline;}
h1, h2, h3, h4, h5, h6{color:#000;line-height:100%;}
ul {height: 100%;}
ul > li{list-style:none; }
.floatitems>li{float: left;}
sub {vertical-align: sub; font-weight:normal; font-size:60%;}
sup {vertical-align:super; font-weight:normal; font-size:80%;}
.clearFix{clear:both;}
.clearFix:after{content:''; display:block; clear:both;}
/*********rest.css end*********/
/*********all.css start********/
.wrapper{position: absolute; left: 0;top: 0;width:100%;min-height: 100%; overflow-x: hidden;z-index: 99;}
.container{width: 1200px; margin: 0 auto;}
.last{margin-right: 0!important;}
header{background-color: #f0f0f0; width: 100%;}
.loginarea{background-color: #222;}
.logo{padding: 5px 0; float: left; margin-right: 30px;}
.nav{float: right;}
.nav li{width: 102px; margin-right: 10px; padding: 26px 0; height: 22px; text-align: center;}
.nav li>a{font-size: 18px; line-height: 22px; display: block; color: #333; background-color: #f0f0f0;}
.nav li>a.current,.nav li>a:hover{color: #fff; background-color: #333;}
.ellipsis{text-overflow: ellipsis;}
a:hover,input[type=button]:active,.animation{transition: all .3s;}
.centerText{text-align: center; margin-left: auto; margin-right: auto;}

footer,footer a,.loginarea a{color: #999;}
.favourlinks{background-color: #2b2b2b; color: #999;}
.favourlinks h3{color: #fff; float: left; line-height: 60px; margin-right: 40px; font-size: 18px;}
.favourlinks ul,.foot_nav ul{float: left;}
.favourlinks li{margin-right: 10px;}
.favourlinks li>a{line-height: 60px; color: #999;}
.foot_nav{background-color: #282828; border-bottom: 1px solid #333;}
.navlinks{width: 410px;}
.loginarea ul{float: right;}
.loginarea li>a,.loginarea li:after{font-size: 16px; line-height: 32px;}
.foot_nav li,.loginarea li{margin-right: 10px;}
.navlinks li>a{line-height: 25px;}
.navlinks li:after,.loginarea li:after{content: "|"; margin-left: 10px;}
.navlinks .last:after,.loginarea .last:after{content: "";margin-left: 0;}
.sharelinks{float: right;}
.sharelinks li{padding: 8px 0;}
.submitemail{height: 24px; padding: 8px 0; float: left;}
.emailtext{width: 160px;height: 24px;background: none;border: 1px solid #333;float: left;padding: 0 5px; color: #ccc;}
.emailbtn{float: left; height: 24px; background-color: #3b3b3b; color: #999; width: 60px; cursor: pointer;}
.emailbtn:active{text-indent: 10px;}
.copyright{background-color: #282828; line-height: 60px;}
.copytext{float: left;}
.tel{float: right;}
.tel img{padding-top: 23px;}
.tel span{float: left; margin-right: 10px;}
footer a:hover,.loginarea a:hover{color: #ccc;}
